
<html>
<head>
    <link href="assets/style.css" type="text/css"   rel="stylesheet" >
    <title>Document</title>
</head>
<body>
    <form action="/student" method="POST">
        <label for="fnss">NSS:</label>
        <input type="text" id="fnss" name="fnss"><br><br>
        <label for="fname">Nombre:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Apellido:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="fedad">Edad:</label>
        <input type="text" id="fedad" name="fedad"><br><br>
        <input type="submit" value="Submit"><br><br>
    </form>
</body>
</html>